body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
#conteiner_slide {
    width: 400px;
    height: 400px;
    overflow: hidden;
}
#slide{
    height: 100%;
    width: 500%;
    display: flex;
}
.card{
    width: 400px;
    transition: 1s;
}
/* .card:active{
    margin-left: -10%;
} */
#A1{
    background-color: rgb(75, 191, 135);
}
#A2{
    background-color: rgb(126, 106, 255);
}
#A3{
    background-color: rgb(111, 129, 241);
}
#A4{
    background-color: rgb(75, 121, 191);
}